<h3>Your search for {{ searchstr }}</h3>

{{#if hasContent}}
    {{#each news_dis}}
        <div>
            <h5>{{ this.title }}</h5>
            <img src="{{ this.urltoimage }}" alt="" width="100%">
            <p>{{ this.summary }}</p>
            <div class="row">
                <div class="col">
                {{ this.newsDate}}
                </div>
                <div class="col text-right">
                    <a href="{{ this.url }}" target="_blank">Read more</a>
                </div>
            </div>
            <hr>
        </div>
    {{/each}}
{{else}}
    <p>No search found</p>
{{/if}} 

